.persona{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
}
@media (max-width: 480px) {
   .persona{
    margin-bottom: 2rem;
    align-self: center;
   }
}
