.persona{
    display: flex;
    flex-direction: column;
}
@media (min-width: 0) {
   .persona{
    margin-bottom: 2rem;
    
   }
}
@media (min-width: 768px) {
   .persona{
    margin-bottom: 0;
   }
}