.receta {
    background: #fdfdfd;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    
}
@media (min-width: 0) {
   .receta{
    width: 100%;
   }
}
@media (min-width: 768px) {
   .receta{
    margin-right: 2.5rem;
    width: calc(33.33% - 2.55rem);
   }
}
@media (min-width: 992px) {
   .receta{
    margin-right: 5rem;
    width: calc(25% - 5rem);
   }
}