.receta {
    background: #fdfdfd;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    box-shadow: 10px 10px 15px 0px rgba(112,112,112,0.48);
    border-radius: .5rem;
}
.receta img {
   
   border-top-left-radius: .5rem;
   border-top-right-radius: .5rem;
}
@media (min-width: 0px) {
   .receta{
    width: 100%;
   }
}
@media (min-width: 768px) {
   .receta{
    margin-right: 2.5rem;
    width: calc(33.33% - 2.55rem);
   }
}
@media (min-width: 992px) {
   .receta{
    margin-right: 5rem;
    width: calc(25% - 3rem);
   }
}